* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

header
{
	position: relative;
	left: 0;
	top: 0;
	width: 1000;
	height: 79px;
}

header h4
{
	position: absolute;
	left: 5%;
	bottom: 1rem;
	font-size: 1.6rem;
}
.intro
{
	position: fixed;	
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: #161616;
	transition: 1s;
}
.logo-header
{
	position: absolute;
	top:  50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.logo
{
	position: relative;
	display: inline-block;
	bottom: -20px;
	opacity: 0;
}
.logo.active

{
	bottom: 0;
	opacity: 1;
	transition: ease-in-out 0.5s;
}
.logo.fade
{
	bottom: 150px;
	opacity: 0;
	trans:  ease-in-out 0.5s;
}
.content 
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	font-family: sans-serif;
	background-image: url(cbg.jpg);
	background-repeat: no-repeat;  
  	background-attachment: fixed;  
  	background-size: cover;

}
.background 
{
	background-repeat: no-repeat;  
  	background-attachment: fixed;  
  	background-size: cover;
	background-image: url('abc.jpg');
  	-webkit-filter: blur(5px);
  	-moz-filter: blur(5px);
  	-o-filter: blur(5px);
  	-ms-filter: blur(5px);
  	filter: blur(5px);
  	position: fixed;
  	width: 200%;
  	height: 200%;
  	top: 0;
  	left: 0;
  	z-index: -1;
}
.newbackground
{
	background-color: rgba(34, 34, 34, 0.5);
	opacity: 0.5;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	background-blend-mode: overlay ;
	background-repeat: no-repeat;
	background-position: center;
	z-index: -0.5;
}
.box
{
	width: 300px;
	height: 400px;
	background: rgba(255, 255, 255, 0.3);
	text-align: center;
	margin: auto;
	margin-bottom: 35%;
	border-radius: 30px;
}
.box-img
{
	border-radius: 15px;
	margin-top: 15%;
	width: 200px;
	height: 200px;
}
content h4
{
	color: whitesmoke;
	font-family: monospace;
	font-size: 180%;
}
.duongdan
{
	font-size: 300%;
	margin-top: 1.5%;
}
#bg
{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -0.2;
}
.particle-js
{
	z-index: -0.2;
}
.rainbow
{
	margin-top: 40%;
	font-family: sans-serif;
	font-size: 110%;
	opacity: 0.5;
}
.rainbow:hover
{
  	animation: colorRotate 3s linear 0s infinite;
}
@keyframes colorRotate
{
  from {
    color: #ff5757;
  }
  5% {
    color: #ff7e57;
  }
  15% {
    color: #f9ff57;
  }
  25% {
    color: #5aff57;
  }
  50% {
    color: #5795ff;  
  }
  75% {
  	color: #7357ff;
  }
  100% {
  	color: #ff57d8;
  }
}

